{% extends 'base.html' %}
{% load static %}
{% block title %} Contact forms{% endblock %}
{% block meta_description %} This is the website of Garrett Cutler, the greatest web developer in history of web development!{% endblock %}
{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Services</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/bg-img/s66.png' %}" alt="">
            </div>
            <h5>Network Tweaking</h5>
            <p>Slow downloads, interruptions, lagging browsing?  We offer a comprehensive review and upgrade of your entire network 
            .</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/bg-img/s7.png' %}" alt="">
            </div>
            <h5>Power Platform</h5>
            <p>Interested in the new technologies like Power Apps, Power Automate, Power BI and Power Pages?  We
              are here to deliver modern solutions based on these awesome technologies.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/bg-img/s8.pbg' %}" alt="">
            </div>
            <h5>"The Cloud"</h5>
            <p>Don't understand the cloud?  We are hear to bring the newest cloud technologies to your 
              business.  We will make sure you don't get caught in any IT storms along the way.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/bg-img/s9.png' %}" alt="">
            </div>
            <h5>Infrastructure builds</h5>
            <p>Stuck with old servers, routers, laptops, phones and more?  We can assist with bringing
              you up to speed and making sure you don't hit the brakes ever again.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/bg-img/s10.png' %}" alt="">
            </div>
            <h5>Teaching</h5>
            <p>Need some learning curve upgrades as well?  We can certainly deliver there as well and get your employees 
              to be pros and consultants themselves.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/bg-img/s6.png' %}" alt="">
            </div>
            <h5>Windows</h5>
            <p>Stuck in Windows 10 or worse?  We can certainly assist with upgrades as needed.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('img/bg-img/7.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/trump.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Garrett is the best IT consultant you will ever find, believe me.”</h5>
                <h6>Donald Trump</h6>
                <p>President of the United States</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/walter.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Garrett and his staff will get your office buzzing and more productive than ever before.”</h5>
                <h6>Walter Payton</h6>
                <p>Football great</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/cutlerwater.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Dawn, my wife is the best teacher ever.  As Van Halen said, I'm hot for teacher!”</h5>
                <h6>Garrett Cutler</h6>
                <p>CEO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest News</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/slownetwork.webp' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">How your network can slow down your productivity</a>
              <p>Low bandwidth and highly congested networks can really slow down your employees from doing their work faster.  It can also frustrate them consistently.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 18 Jul 2023</a>
                <a href="#"><i class="icon_chat_alt"></i> 7 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/thecloud.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">What is the best cloud technology to utilize?</a>
              <p>"The Cloud" can be intimidating, especially if you don't have an umbrella.  It can also produce very sunny days ahead.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 25 Nov 2022</a>
                <a href="#"><i class="icon_chat_alt"></i> 10 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/newtech.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Why you shouldn't be intimidated by new technologies</a>
              <p>Newer technologies, such as the power platform can increase productivity and can even be kind of fun to use</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 17 Dec 2021</a>
                <a href="#"><i class="icon_chat_alt"></i> 5 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->


{% endblock %}